# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build outputs
.next/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Chrome/Puppeteer data
tokens/
userDataDir/
SingletonLock

# PM2
.pm2/

package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
bun.lock
bun.lock.json
bun.lock.yaml

products.json